{{!< default}} {{#post}} <div class="article-wrapper">
   {{!-- {{post_class}} --}}
   <article class="article-post {{#unless feature_image}} no-image{{/unless}} single">
      {{> tags}}
      {{> post-header}}
      {{#if custom_excerpt}}
      <p class='post-excerpt'>{{ custom_excerpt }}</p>
      {{/if}}

      {{!-- post-meta-data section --}}
      <div class="post-meta-section">
         <div class="author-date-rt">
            {{> author}}
         </div>
         <div class="last-updated">
            <p class="date-published" style="margin-top: 3px;">Published on {{date published_at}}</p>
            <p class="reading-time">{{reading_time}}</p>
         </div>

         <ul class="left-marg nav-list u-plain-list spaced-list">
            <li class="social-icon">
               <a href="https://twitter.com/share?text={{ encode title }}&amp;url={{ url absolute='true' }}"
                  onclick="window.open(this.href, 'twitter-share', 'width=550, height=235'); return false;">
                  <img src="{{asset 'images/twitter.svg'}}" width="15px" height="15px">
               </a>
            </li>

            <li class="social-icon">
               <a href="https://www.facebook.com/sharer/sharer.php?u={{ url absolute='true' }}"
                  onclick="window.open(this.href, 'facebook-share', 'width=580, height=296'); return false;">
                  <img src="{{asset 'images/facebook.svg'}}" width="16px" height="16px">
               </a>
            </li>

            <li class="social-icon">
               <a href="http://pinterest.com/pin/create/button/?url={{ url absolute='true' }}&media={{ feature_image }}&description={{ encode title }}"
                  onclick="window.open(this.href, 'pinterest-share', 'width=580, height=296'); return false;">
                  <img src="{{asset 'images/pinterest.svg'}}" width="20px" height="20px">
               </a>
            </li>

            <li class="social-icon">
               <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ url absolute='true' }}&title={{ encode title }}"
                  onclick="window.open(this.href, 'linkedin-share', 'width=580, height=296'); return false;">
                  <img src="{{asset 'images/linkedin.svg'}}" width="14px" height="14px">
               </a>
            </li>

            <li class="social-icon">
               <a class='c-share__link' href="whatsapp://send?text={{ encode title }} {{ url absolute='true' }}">
                  <img src="{{asset 'images/whatsapp.svg'}}" width="22px" height="22px">
               </a>
            </li>

         </ul>
      </div>


      {{> post-media}}
      <div class="post-wrapper">
         <div class="post-content u-text-format">
            {{content}}
         </div>
      </div>
   </article>

   {{!-- {{> post-navigation}} --}}
   {{> comment}}
   {{/post}}
   {{> related}}



   </div>