{{!< default}} <div class="container">
<div style="margin-bottom: 50px;">
    <h2 class="tag-h2" style="font-family: 'Poppins';
    font-weight: 800;
    font-size: xx-large;">{{tag.name}}</h2>
   <p class="tag-p" style="font-size:medium;">{{tag.description}}</p>
</div>
    {{!--
    <div class="term-tags">
        {{#tag}}
        <a class="tag tag-current" href="{{url}}">
            <span class="tag-name">{{name}}</span>
        </a>
        {{/tag}}
        {{#get "tags" limit="all" filter="id:-{{tag.id}}" }}
        {{#foreach tags}}
        <a class="tag" href="{{url}}">
            <span class="tag-name">{{name}}</span>
        </a>
        {{/foreach}}
        {{/get}}
    </div>
    --}}
    {{> list}}
    </div>